body{
font-family:  'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: powderblue; 
}
#display{
    background-color: white;
    text-align: right;
    padding: 0.5em 0.75em;
    height: 32px;
    width: 305px;
    font-size: 50px;
    color: gray;

}
#calculator{
    width: 305px;
    height: 425px;
    background-color: antiquewhite;
    margin: 0 auto;
    top: 50px;
    position: relative;
}

#input{
    text-align: right;
    margin:0px 20px;
    padding-top: 50px;
    font-size: 20px;
    color:rgb(179, 174, 174);
}

#output{
   text-align: right;
   height:40px;
   margin:10px 20px;
   text-align: right;
   font-size: 40px;

}

#numpad{
    width: 350px;
    height: 400px;

}
.operator, .num, .delete,.equal{
    width: 56px;
    height: 56px;
    margin:10px;
    font-size: 20px;
    float: left;
    border-width: 0;
    border-radius: 20%;

}
.num{
    background-color: white;
    color: gray;
    
}
.operator, .delete, .equal{
    font-size: 30px;
    color: darkgray;
}

.operator, .num, .delete, .equal{
    cursor: pointer;
    outline-width: 0;


}
.operator:active, .num:active, .delete:active, .equal:active{
    font-size:13px;

}
.operator:focus, .num:focus, .operator:focus, .equal:focus{
    outline: none;
}